<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>Register</description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.lmlc.service.Register</servlet-class>
  </servlet>
  <servlet>
    <description>CheckEmail is not register</description>
    <display-name>CheckEmail is not register</display-name>
    <servlet-name>CheckEmail</servlet-name>
    <servlet-class>com.lmlc.service.CheckEmail</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.lmlc.service.DoLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.lmlc.service.DoLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>JiZhang</description>
    <display-name>JiZhang</display-name>
    <servlet-name>JiZhang</servlet-name>
    <servlet-class>com.lmlc.service.JiZhang</servlet-class>
  </servlet>
  <servlet>
    <description>DeleteJiZhang</description>
    <display-name>DeleteJiZhang</display-name>
    <servlet-name>DeleteJiZhang</servlet-name>
    <servlet-class>com.lmlc.service.DeleteJiZhang</servlet-class>
  </servlet>
  <servlet>
    <description>Statistic</description>
    <display-name>Statistic</display-name>
    <servlet-name>StatisticServlet</servlet-name>
    <servlet-class>com.lmlc.service.StatisticServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Modify banguding</description>
    <display-name>Modify banguding</display-name>
    <servlet-name>ModifyBgd</servlet-name>
    <servlet-class>com.lmlc.service.ModifyBgd</servlet-class>
  </servlet>
  <servlet>
    <description>jin</description>
    <display-name>jin</display-name>
    <servlet-name>JinServlet</servlet-name>
    <servlet-class>com.lmlc.service.JinServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UserSelfModify</description>
    <display-name>UserSelfModify</display-name>
    <servlet-name>UserSelfModify</servlet-name>
    <servlet-class>com.lmlc.service.UserSelfModify</servlet-class>
  </servlet>
  <servlet>
    <description>FindPassword</description>
    <display-name>FindPassword</display-name>
    <servlet-name>FindPassword</servlet-name>
    <servlet-class>com.lmlc.service.FindPassword</servlet-class>
  </servlet>
  <servlet>
    <description>addArticle</description>
    <display-name>addArticle</display-name>
    <servlet-name>addArticle</servlet-name>
    <servlet-class>com.lmlc.service.read.AddArticle</servlet-class>
  </servlet>
  <servlet>
    <description>GetArticle</description>
    <display-name>GetArticle</display-name>
    <servlet-name>GetArticle</servlet-name>
    <servlet-class>com.lmlc.service.read.GetArticle</servlet-class>
  </servlet>
  <servlet>
    <description>FeedbackServlet</description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.lmlc.service.FeedbackServlet</servlet-class>
  </servlet>
  <servlet>
    <description>WeixinValidation</description>
    <display-name>WeixinValidation</display-name>
    <servlet-name>WeixinValidation</servlet-name>
    <servlet-class>com.lmlc.service.wx.WeixinValidation</servlet-class>
  </servlet>
  <servlet>
    <description>DialogServlet</description>
    <display-name>DialogServlet</display-name>
    <servlet-name>DialogServlet</servlet-name>
    <servlet-class>com.lmlc.service.DialogServlet</servlet-class>
  </servlet>
  <servlet>
    <description>WuyiNumInfoModify</description>
    <display-name>WuyiNumInfoModify</display-name>
    <servlet-name>WuyiNumInfoModify</servlet-name>
    <servlet-class>com.lmlc.service.WuyiNumInfoModify</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckEmail</servlet-name>
    <url-pattern>/CheckEmail</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JiZhang</servlet-name>
    <url-pattern>/JiZhang.me</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteJiZhang</servlet-name>
    <url-pattern>/delete.me</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticServlet</servlet-name>
    <url-pattern>/statistic.me</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyBgd</servlet-name>
    <url-pattern>/modifyBgd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JinServlet</servlet-name>
    <url-pattern>/jin.me</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSelfModify</servlet-name>
    <url-pattern>/user.me</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindPassword</servlet-name>
    <url-pattern>/findpwd.me</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addArticle</servlet-name>
    <url-pattern>/adminlmlc/addArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetArticle</servlet-name>
    <url-pattern>/getArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/feedback.me</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WeixinValidation</servlet-name>
    <url-pattern>/wx.me</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DialogServlet</servlet-name>
    <url-pattern>/dialog.me</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WuyiNumInfoModify</servlet-name>
    <url-pattern>/numInfoModify.me</url-pattern>
  </servlet-mapping>  
  
  
    <filter>
		<display-name>AdminFilter</display-name>
		<filter-name>AdminFilter</filter-name>
		<filter-class>com.lmlc.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/adminlmlc/*</url-pattern>
	</filter-mapping> 
  
  
    <filter>
		<display-name>AutoLoginFilter</display-name>
		<filter-name>AutoLoginFilter</filter-name>
		<filter-class>com.lmlc.filter.AutoLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutoLoginFilter</filter-name>
		<url-pattern>/index.html</url-pattern>
	</filter-mapping> 
  
	<filter>
		<display-name>ForceLoginFilter</display-name>
		<filter-name>ForceLoginFilter</filter-name>
		<filter-class>com.lmlc.filter.ForceLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ForceLoginFilter</filter-name>
		<url-pattern>/main.jsp</url-pattern>
		<url-pattern>/statistic.jsp</url-pattern>
		<url-pattern>/51.jsp</url-pattern>
		<url-pattern>/userServer.jsp</url-pattern>
		<url-pattern>/JiZhang.me</url-pattern>
		<url-pattern>/delete.me</url-pattern>
		<url-pattern>/statistic.me</url-pattern>
		<url-pattern>/modifyBgd</url-pattern>
		<url-pattern>/jin.me</url-pattern>
		<url-pattern>/user.me</url-pattern>
		<url-pattern>/feedback.me</url-pattern>
		<url-pattern>/dialog.me</url-pattern>
	</filter-mapping>
	
 	<filter>
		<display-name>CompressionFilter</display-name>
		<filter-name>CompressionFilter</filter-name>
		<filter-class>com.lmlc.filter.CompressionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CompressionFilter</filter-name>
		<url-pattern>/JiZhang.me</url-pattern>
		<url-pattern>/statistic.me</url-pattern>
		<url-pattern>/user.me</url-pattern>
	</filter-mapping>
	
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	
  <error-page>
	<exception-type>java.lang.Throwable</exception-type>
	<location>/errorPage.html</location>
  </error-page>	
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
