
/*
 * Globals
 */

/* Links */
a,p,h2,h3,
a:focus,
a:hover {
  color: #fff;
}


@media (min-width: 100px) {
body {
	font-family: arial, verdana, sans-serif;
	background: url("../images/bg_sm.png") center top repeat fixed;
	background-image: url("../images/bg_sm.png") center top repeat fixed;
}

}

@media (min-width: 768px) {
body {
	font-family: arial, verdana, sans-serif;
	background: url("../images/bg_md.png") center top repeat fixed;
	background-image: url("../images/bg_md.png") center top repeat fixed;
}
}

@media (min-width: 992px) {
body {
	font-family: arial, verdana, sans-serif;
	background: url("../images/bg_md.png") center top repeat fixed;
	background-image: url("../images/bg_md.png") center top repeat fixed;
}
}